<div class="flex flex-col mx-2">

  <div class="flex flex-row justify-between">
    <div class="flex flex-row justify-end gap-2 mx-2 my-2">
      <button
        class="p-1.5 bg-gray-100 rounded-md hover:bg-gray-200"
        (click)="onAdd()"
        title="Ajouter"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
        </svg>
      </button>
      <button
        class="p-1.5 bg-gray-100 rounded-md hover:bg-gray-200"
        (click)="onDelete()"
        title="Supprimer"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
        </svg>
      </button>
      <button
        class="p-1.5 bg-gray-100 rounded-md hover:bg-gray-200"
        (click)="onSave()"
        title="Enregistrer"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3"/>
        </svg>
      </button>
    </div>
    <div class="flex flex-row justify-end gap-2 mx-2 my-2">
      <button
        class="p-1.5 bg-gray-100 rounded-md hover:bg-gray-200"
        (click)="onClose()"
        title="Close"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
        </svg>
      </button>

    </div>

  </div><!-- Add, Delete, Save bare -->
  <div
    class="flex flex-row justify-between px-6 py-2 m-2 bg-green-500 rounded-md "
    *ngIf="false"
  >
    <p class="text-white">The information are saved.</p>
    <button
      (click)="onClose()"
      title="Close"
    >
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" fill="none" viewBox="0 0 24 24"
           stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
      </svg>
    </button>
  </div>
  <form
    class="flex flex-col gap-1 px-4 overflow-y-scroll"
    [formGroup]="recipeDetailForm"
  >
    <div>
      <input
        formControlName="recipeId"
        id="recipeId"
        hidden
      >
    </div><!--oilId-->
    <div class="flex flex-col">
      <label for="name" class="mx-2">Name</label>
      <input
        formControlName="name"
        id="name"
        class="primary-input"
        type="text"
      >
    </div><!--Name-->
    <div class="flex flex-col">
      <label for="reference" class="mx-2">Reference</label>
      <input
        formControlName="reference"
        id="reference"
        class="primary-input"
        type="text"
      >
    </div><!--reference-->

    <div class="flex flex-col">
      <label for="description" class="mx-2">Description</label>
      <textarea
        formControlName="description"
        id="description"
        class="primary-input"
        type="text"
      ></textarea>
    </div><!--Description-->

    <div class="flex flex-col">
      <label for="notes" class="mx-2">Notes</label>
      <textarea
        formControlName="notes"
        id="notes"
        class="primary-input"
        type="text"
      ></textarea>
    </div><!--Notes-->

    <div class="flex flex-col">
      <label for="usage" class="mx-2">Usage</label>
      <textarea
        formControlName="usage"
        id="usage"
        class="primary-input"
        type="text"
      ></textarea>
    </div><!--Usage-->

    <div class="" formArrayName="ingredients">
      <div class="flex flex-col">
        <div *ngFor="let ingredientCtrl of ingredientsControls; let i = index"
             [formGroupName]="i"
        >
          <div class="flex flex-row">
            <input type="text" class="primary-input" formControlName="name">
            <button type="button" (click)="onDeleteIngredient(i)">X</button>
          </div>
        </div>
        <button (click)="onAddIngredient()">Add ingredient</button>
      </div><!--Ingredients-->
    </div>



  </form>
</div>
