@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

html, body {
  min-width: 100%;
  height: auto;
  margin: 0;
}


.ag-root ::-webkit-scrollbar {
  scrollbar-width: thin;
  height: 12px;
}

/* Track */
.ag-root ::-webkit-scrollbar-track {

  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.16);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
.ag-root ::-webkit-scrollbar-thumb {
  scrollbar-width: thin;

  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
}
