@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

html, body {
  min-width: 100%;
  height: auto;
  margin: 0;
}/* You can add global styles to this file, and also import other style files */
