<div class="flex flex-col flex-grow p-10 gap-3 justify-items-center ">
  <div class="flex flex-row gap-3">
    <div
      class="bg-white border border-black-800 mx-1 rounded-lg"
    >
      <div
        class="small-banner w-1 h-20 bg-green-600 absolute rounded-tl-md"
      ></div>
      <h5 class="text-2xl font-semibold pl-6 pt-6 pr-6 pb-2">
        Provide useful services
      </h5>
      <p class="text-md font-regular p-6 pt-2 text-gray-500">
        Partners will be facilitated with our communication system available for
      </p>
    </div>
    <div
      class="bg-white border border-black-800 mx-1 rounded-lg"
    >
      <div
        class="small-banner w-1 h-20 bg-green-600 absolute rounded-tl-md"
      ></div>
      <h5 class="text-2xl font-semibold pl-6 pt-6 pr-6 pb-2">
        Provide useful services
      </h5>
      <p class="text-md font-regular p-6 pt-2 text-gray-500">
        Partners will be facilitated with our communication system available for
      </p>
    </div>
    <div
      class="bg-white border border-black-800 mx-1 rounded-lg"
    >
      <div
        class="small-banner w-1 h-20 bg-green-600 absolute rounded-tl-md"
      ></div>
      <h5 class="text-2xl font-semibold pl-6 pt-6 pr-6 pb-2">
        Provide useful services
      </h5>
      <p class="text-md font-regular p-6 pt-2 text-gray-500">
        Partners will be facilitated with our communication system available for
      </p>
    </div>
    
  </div>
  <div class="flex flex-row gap-3">
    <div
      class="bg-white border border-black-800 mx-1 rounded-lg"
    >
      <div
        class="small-banner w-1 h-20 bg-green-600 absolute rounded-tl-md"
      ></div>
      <h5 class="text-2xl font-semibold pl-6 pt-6 pr-6 pb-2">
        Provide useful services
      </h5>
      <p class="text-md font-regular p-6 pt-2 text-gray-500">
        Partners will be facilitated with our communication system available for
      </p>
    </div>
    <div
      class="bg-white border border-black-800 mx-1 rounded-lg"
    >
      <div
        class="small-banner w-1 h-20 bg-green-600 absolute rounded-tl-md"
      ></div>
      <h5 class="text-2xl font-semibold pl-6 pt-6 pr-6 pb-2">
        Provide useful services
      </h5>
      <p class="text-md font-regular p-6 pt-2 text-gray-500">
        Partners will be facilitated with our communication system available for
      </p>
    </div>
    <div
      class="bg-white border border-black-800 mx-1 rounded-lg"
    >
      <div
        class="small-banner w-1 h-20 bg-green-600 absolute rounded-tl-md"
      ></div>
      <h5 class="text-2xl font-semibold pl-6 pt-6 pr-6 pb-2">
        Provide useful services
      </h5>
      <p class="text-md font-regular p-6 pt-2 text-gray-500">
        Partners will be facilitated with our communication system available for
      </p>
    </div>
    
  </div>
  
</div>
